.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(
      to bottom,
      #{fade-out($black, 0.4)} 0%,
      #{fade-out($black, 0.5)} 75%,
      $black 100%
    ),
    url("../img/laptop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  h1 {
    color: white;
    font-size: 1.5rem;
    line-height: 2.5rem;
    // letter-spacing: 0.7rem;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 3rem;
      max-width: 480px;
      line-height: 4rem;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    padding: 0;
    h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      max-width: 100%;
      letter-spacing: 0.8rem;
    }
    h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }
}
